.card{
    background-color: aliceblue;
    border-radius: 12px;
    flex-wrap: wrap;
    padding: 48px;    
    align-content: center;
    align-items: center;
    margin-left: 50px;
    line-height: 40px;
}
.popular-card .apply-btn {
  background-color: #ffffff;
  color: #003fcc;
  border: 2px solid #ffffff;
  padding: 10px 24px;       
  font-size: 15px;         
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popular-card .apply-btn:hover {
  background-color: #003fcc;
  color: #ffffff;
  border: 2px solid #003fcc;
  transform: scale(1.05);   /* Slight hover grow */
}
.popular-card {
  background: linear-gradient(to right, #1d61ff, #57b1ff); 
  color: white;
  transform: scale(1.02);
  line-height: 30px;
}

.popular-card .title,
.popular-card .topics li {
  color: white;
}

.popular-badge{
    background-color:aquamarine;
    color: black;
    padding: 8px 16px;
    border-radius: 100px;
}
.card-title{}
.topics{
    list-style-type: none;
    padding-inline: 12px;
    align-items: center;
    
}
.apply-btn{
  background-color: #ffffff;
  color: #003fcc;
  border: 2px solid #ffffff;
  padding: 10px 5px;       
  font-size: 15px;         
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.apply-btn:hover {
  background-color: #003fcc;
  color: #ffffff;
  border: 2px solid #003fcc;
  transform: scale(1.05);  
}